.DS_Store
ledger_json/
cleaned_json/
__pycache__/
flags/flags.txt
.vscode/
.coverage
coverage.xml
trash/
ignore/
.pylintrc

# Firebase emulator logs
firestore-debug.log
firebase-debug.log
ui-debug.log
WARP.md
